$font-primary: 'Open Sans', sans-serif;
$font-titles: 'Cantata One', serif;

body {
  font-family: $font-primary;
  color: $text-color;
  line-height: 1.6;
  background-color: $primary-color;
}

h1, h2, h3, h4 {
  font-family: $font-titles;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

p, li, input, textarea, label {
  font-size: 1rem;
  font-family: $font-primary;
}